# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Quinten\OneDrive - UC Leuven-Limburg\Sem 02\Web 2\Web 2 - Labo\boschQuinten_clientserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
